
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

.right-container {
    margin-left: 10px;
    width: 400px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .menu-toggle-container {
        margin-top: 6px;
        span {
            i {
                color: white;
                cursor: pointer;
            }
        }
    }


    img {
        margin-left: 10px;
        height: 35px;
        border-radius: 100%;
    }

    h3 {
        margin-top: 7px;
        color: white;
        font-family: "Noto Sans",Arial,Helvetica,sans-serif;
    }

}




/* Navbar */
.navbar {
    width: 100%;
    left: -16px;
    top: -10px;
    height: 50px;
    background-color: #3c8dbc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar .logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.navbar .logo-container {
    display: flex;

}

.navbar .logo-container img {
    width: 100px;
    height: auto;
    margin-left: 1rem;
    color: white;
}

.burger-menu {
    margin: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;
}

/* Side menu */
.side-menu {
    background-color: #333;
    position: fixed;
    margin-top: 4px;
    top: 60px;
    left: -300px;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: left 0.3s;
}

.side-menu.active {
    left: 0;
}

.side-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0.5rem 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 10px;
    
    p {
        margin: 5px;
    }
}

.side-menu a:hover {
    background-color: #555;
    padding-left: 1rem;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .burger-menu {
        display: block;
    }
}

// Add this to your existing SCSS code
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 998;
  }
  
  .backdrop.active {
    opacity: 1;
    pointer-events: auto;
  }