<body>
    <app-navbar></app-navbar>
    <main>
        <section>
            <h3>Operational Updates</h3>

            <div class="statistics">
                <div class="pill">
                    <div class="icon">
                        <span class="material-symbols-outlined">select_check_box</span>
                    </div>
                    <div class="data">
                        <p>Active</p>
                        <h1>10</h1>
                    </div>
                </div>

                <div class="pill">
                    <div class="icon">
                        <span class="material-symbols-outlined">exit_to_app</span>
                    </div>
                    <div class="data">
                        <p>Exit</p>
                        <h1>28</h1>
                    </div>
                </div>

                <div class="pill large">
                    <div class="icon">
                        <span class="material-symbols-outlined">apartment</span>
                    </div>
                    <div class="data">
                        <p>Organizations</p>
                        <h1>34</h1>
                    </div>
                </div>

                <div class="pill">
                    <div class="icon">
                        <span class="material-symbols-outlined">groups</span>
                    </div>
                    <div class="data">
                        <p>Teams</p>
                        <h1>38</h1>
                    </div>
                </div>

                <div class="pill">
                    <div class="icon">
                        <span class="material-symbols-outlined">checklist</span>
                    </div>
                    <div class="data">
                        <p>Tasks</p>
                        <h1>38</h1>
                    </div>
                </div>

                <div class="pill">
                    <div class="icon">
                        <span class="material-symbols-outlined">emoji_flags</span>
                    </div>
                    <div class="data">
                        <p>Countries</p>
                        <h1>29</h1>
                    </div>
                </div>
            </div>

            <div class="graphs">
                <div class="graph">
                    <h2>EMT Type</h2>
                    <img src="../../../assets/emt-type.jpg" alt="">
                </div>
                <div class="graph">
                    <h2>Deployment Province</h2>
                    <img src="../../../assets/deployment-province.jpg" alt="">
                </div>
            </div>
        </section>
    </main>
</body>